{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" id="my_file">
<button>上传</button>

<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'jquery.cookie.js' %}"></script>

<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                csrftoken = $.cookie('csrftoken')
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('button').click(function () {
        console.log('button')
        var form_obj = new FormData()
        form_obj.append('f1', $('#my_file')[0].files[0])

        $.ajax({
            url: '/upload/',
            type: 'post',
            data: form_obj,
            processData: false,
            contentType: false,
            success: function (res) {
                console.log(res)
            }
        })
    })
</script>
</body>
</html>