.nav-pills .nav-link {
    border-radius: 0;
}


.container-fluid {
    padding: 0;
    margin: 0;
    height: 92%;
}

.container-fluid div {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid>.row>.col-md-2{
    background-color: #eeeeee;
}


/*.container-fluid>.row>.col-md-3 {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
/*.container-fluid>.row>.col-md-3 {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.container-fluid>.row>.col-md-9 {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/