<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>作者<small><a href="/add_author/">添加作者</a></small></h1>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>序号</td>
            <td>ID</td>
            <td>作者</td>
            <td>书籍</td>
            <td>操作</td>

        </tr>
        </thead>
        <tbody>
        {% for author in author_list_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.author }}</td>
                <td>
                    {% for book in author.books.all %}
                        {% if forloop.last %}
                            <span>《<a href="/edit_book/?id={{ book.id }}">{{ book.title }}</a>》</span>
                        {% else %}
                            <span>《<a href="/edit_book/?id={{ book.id }}">{{ book.title }}</a>》,</span>
                        {% endif %}
                    {% empty %}
                        <span>暂无作品</span>

                    {% endfor %}
                </td>
                <td>
                    <a href="/delete_author/?id={{ author.id }}">删除</a>
                    <a href="/edit_author/?id={{ author.id }}">编辑</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>