<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>书籍</h1>
    </div>
    <table border="1" class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>书名</td>
            <td>文件</td>
            <td>管理</td>
        </tr>
        </thead>
        <tbody>
        {% for book in book_obj.filename.all %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book_obj.title }}</td>
                <td>{{ book.filename }}</td>
                <td>
                    <a href="/delete_bookfile/?id={{ book.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="book_file" >
        <input type="submit">
    </form>

</div>
</body>
</html>