<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <style type="text/css">
        .input-group {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>编辑作者</h1>
    </div>
    <form action="" method="post">
        <select name="books" class="form-control" multiple>
            {% for book in all_books %}
                {% if  book in author_obj.books.all %}
                    <option value="{{ book.id }}" selected>{{ book.title }}</option>
                {% else %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">作者名</span>
            <input type="text" class="form-control" name="author" value="{{ author_obj.author }}" aria-describedby="basic-addon1">
        </div>
        <input type="submit" class="btn-success btn" style="margin-top: 10px">
    </form>
</div>
</body>
</html>