{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page_titile %}{{ title }}{% endblock %}
{% block content %}
<div class="bs-example" data-example-id="bordered-table">
    {{ add_btn_html }}
    <form action="" method="get" class="form-inline pull-right">
        <input type="text" class="form-control" name="search">
        <button type="submit" class="btn btn-primary">搜索<span class="glyphicon glyphicon-search"></span></button>
    </form>
    <form action="" method="post" class="form-inline">{% csrf_token %}
        <select name="action" id="" class="form-control" style="margin-bottom: 5px">
            <option value="none">---</option>
        </select>
        <button type="submit" class="btn-primary btn" style="margin-bottom: 5px" href="">提交</button>
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>序号</th>
                    <th>天</th>
                    <th>上课日期</th>
                    <th>课程标题</th>
                    <th>作业标题</th>
                    <th>得分点</th>
                    <th>班级</th>
                    <th>班主任</th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody>
                {% for course   in all_course %}
                <tr>
                    <td>
                        <input type="checkbox" value="{{ class_value.id }}">
                    </td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ course.day_num }}</td>
                    <td>{{ course.date }}</td>
                    <td>{{ course.course_title }}</td>
                    <td>{{ course.homework_title }}</td>
                    <td>{{ course.scoring_point }}</td>
                    <td>{{ course.re_class }}</td>
                    <td>{{ course.teacher }}</td>
                    <td>
                        <a style="text-align: center" class="fa fa-pencil-square-o" aria-hidden="true" href="{% url 'course_edit' %}?course_edit_id={{ course.id }}"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            {{ page_html }}
        </ul>
    </nav>
    {#    </div>#}
    {% endblock %}