{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page_titile %}{{ title }}{% endblock %}
{% block content %}
    <div class="bs-example" data-example-id="bordered-table">
        <form action="" method="post" class="form-inline">{% csrf_token %}
            {{ form_obj.management_form }}
            <table class="table table-bordered  table-striped">
                <thead>
                <tr>
                    <th>学生</th>
                    <th>考勤</th>
                    <th>本节成绩</th>
                    <th>作业批语</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {% for form   in form_obj %}
                    <tr>
                        {{ form.id }}
                        <td>{{ form.instance.student }}</td>
                        <td>{{ form.attendance }}</td>
                        <td>{{ form.score }}</td>
                        <td>{{ form.homework_note }}</td>
                        <td>{{ form.instance.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success btn-sm">提交</button>
        </form>
    </div>
{% endblock %}