/*---------公共样式开始----------*/
/*清楚body默认样式*/

body {
    margin: 0;

}

/*防止塌陷*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*清除  ul li 标签默认样式*/
ul,
li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*---------公共样式结束----------*/


/* nav样式 */
.nav {
    width: 100%;
    min-width: 1400px;
    height: 40px;
    background-color: #333333;
}


/* 设置 li 的外边距 */
.nav ul li {
    margin: 7px;
}

/* 鼠标放置改变字体颜色 */
.nav a:hover {
    color: white;
}

/* a标签 设置大小,去除默认样式（下划线） */
.nav a {
    font-size: 13px;
    color:  #8f908f;
}

.nav-left {
    float: left;
    padding-left: 330px;
}

.nav-right {
    float: right;
    padding-right: 330px;
}



/* 购物车按钮特殊样式*/
#nav-shop {
    /*margin: 0;*/
    margin: 0;
    /*background-color: #8f908f;*/
}

/* 让a标签占满 nav高度，设置特殊颜色*/
#nav-shop>a {
    padding: 0 2px;
    line-height: 40px;
    display: inline-block;
    background-color: #3b3b3b;
}


/*!*  mi-nav 部分开始  *!*/

.mi-nav {
    /*background-color: #958e92;*/
    margin: 20px 330px;
    height: 60px;
    /*min-width: 1250px;*/
}

.mi-nav .mi-logo>img {
    float: left;
    height: 55px;
    width: 55px;

}
.mi-title {
    padding: 20px 20px 20px 13%;
    display: inline-block;
}
.mi-title a {
    padding: 0 10px;
    color: black;
}

.mi-title a:hover {
    color: #ff6709;
}


.mi-search  {
    float: right;
}


.mi-search input,
.mi-search button {
    outline: none;
    border-radius: 0;
    border-style: solid;
    border-color: #9e9c9c;
    border-width: 1px;
    line-height: 50px;
}

.mi-search input {
    border-right-style: none;
    /*font-size: 15px;*/
    /*line-height: 48px;*/
}

.mi-search button {
    width: 54px;
}

/*.button-search {*/
/*    !*color: #ff6709;*!*/
/*    !*width: 20px;*!*/
/*}*/

/* mi-poster开始 */
.mi-poster {
    position: absolute;
    height: 456px;
    left:  0;
    right: 0;
    bottom: 0;
    top: 140px;
    margin: 0 330px;
}

.mi-poster-img  {
    position: absolute;
    display: inline-block;
    height: 100%;
    left:  0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 1;
}
.mi-poster-img>img{
    height: 100%;
    width: 100%;

}
.mi-poster-title  {
    position: absolute;
    height: 456px;
    width: 236PX;
    background-color: rgba(52, 52, 52, 0.3);
    /*background-color: green;*/
    float: left;
    /*opacity: 0.3;*/
    z-index: 888;
    left:  0;
    top: 0;
    right: 0;
    bottom: 0;


}
.mi-poster-title ul {
    margin: 0;
    height: 446px;
    width: 236PX;
    padding-top: 20px;
    /*margin-left: 20px;*/
    /*background-color: green;*/
}
.mi-poster-title ul li {
    color: white;
    padding: 10px 0 10px 30px;
    display: block;
}

.mi-poster-title ul li:hover {
    background-color: #ff6700;
    /*z-index: 999;*/
}

/*mi-poster2 部分开始*/
.mi-poster2 {
    position: absolute;
    height: 170px;
    left:  0;
    right: 0;
    bottom: 0;
    top: 618px;
    margin: 0 330px;
}

.mi-poster2 img {
    height: 100%;
    width: 100%;
}

.img1 {
    position: absolute;
    height: 170px;
    width: 238px;
    background-color: #8f908f;
}

.img1 div {
    height: 85px;
    width: 79px;
    background-color: red;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.img2 {
    position: absolute;
    left: 255px;
    height: 170px;
    width: 325px;
}

.img3 {
    position: absolute;
    left: 595px;
    height: 170px;
    width: 325px;
}

.img4 {
    position: absolute;
    left: 935px;
    height: 170px;
    width: 325px;
}













