{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="col-4 offset-4" style="margin-top: 10%">
            <img src="https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg"
                 alt="" style="height: 140px;width: 100%;margin-bottom: 10px">
            <form method="post" action="{% url 'login' %}"> {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">用户名</span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="用户名" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">密&nbsp;&nbsp;&nbsp;码</span>
                    </div>
                    <input type="text" class="form-control" name="password" placeholder="密码" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary">登录</button>
            </form>
        </div>

    </div>
{% endblock %}