{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page_titile %}{{ title }}{% endblock %}

{% block style %}
    <style>
        td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    {#<div class="bs-example" data-example-id="bordered-table">#}
    <a class="btn-success btn" style="margin-bottom: 5px" href="{% url 'consult_record_add' %}?customer_id={{ customer_id }}&{{ next }}">添加记录</a>
    <form action="" method="get" class="form-inline pull-right">
        <input type="text" class="form-control" name="search">
        <button type="submit" class="btn btn-primary">搜索<span class="glyphicon glyphicon-search"></span></button>
    </form>
    <form action="" method="post" class="form-inline">{% csrf_token %}
        <select name="action" id="" class="form-control" style="margin-bottom: 5px">
            <option value="none">---</option>
        </select>
        <button type="submit" class="btn-primary btn" style="margin-bottom: 5px" href="">提交</button>
        {% if option_ret %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="sr-only"></span>操作成功
            </div>
        {% endif %}
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th>选择</th>
                <th>序号</th>
                <th>客户</th>
                <th>跟进内容</th>
                <th>跟进状态</th>
                <th>跟进人</th>
                <th>跟进日期</th>
                <th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for record  in all_consult_record %}
                <tr>
                    <td>
                        <input type="checkbox" value="{{ record.id }}">
                    </td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.customer }}</td>
                    <td>{{ record.note|truncatechars:30 }}</td>
                    <td>{{ record.get_status_display }}</td>
                    <td>{{ record.consultant }}</td>
                    <td>{{ record.date }}</td>
                    <td>
                        <a style="text-align: center" class="fa fa-pencil-square-o" aria-hidden="true"
                           href="{% url 'consult_record_edit' %}?consultrecord_id={{ record.id }}&{{ next }}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            {{ html_page }}
        </ul>
    </nav>
    {#    </div>#}
{% endblock %}
{% block javascript %}
    <script>
        $('div[class="alert alert-success"]').fadeOut(3000)
    </script>
{% endblock %}