{% extends 'base.html' %}
{% block title %}客户列表{% endblock %}
{% block page_titile %}客户列表{% endblock %}


{% block content %}
    {#<div class="bs-example" data-example-id="bordered-table">#}
    <table class="table table-bordered  table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>QQ</th>
            <th>QQ昵称</th>
            <th>客户名称</th>
            <th>性别</th>
            <th>手机号</th>
            <th>客户来源</th>
            <th>咨询课程</th>
            <th>班级类型</th>
            <th>状态</th>
            <th>咨询日期</th>
            <th>最后跟进日期</th>
            <th>销售</th>
            <th>已报班级</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in all_customer %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.qq }}</td>
                <td>{{ customer.qq_name|default:'暂无' }}</td>
                <td>{{ customer.name|default:'暂无' }}</td>
                <td>{{ customer.get_sex_display }}</td>
                <td>{{ customer.phone|default:'暂无' }}</td>
                <td>{{ customer.get_source_display }}</td>
                <td>{{ customer.course }}</td>
                <td>{{ customer.get_class_type_display }}</td>
                {#                <th>{{ customer.get_status_display }}</th>#}
                <td>
                    {{ customer.show_status }}
                    {#                    <span style="height: 100%;padding: 3px;color: #fff;background-color: red">未报名</span>#}
                </td>
                <td>{{ customer.date }}</td>
                <td>{{ customer.last_consult_date }}</td>
                <td>{{ customer.consultant }}</td>
                <td>{{ customer.show_class_list }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            {{ html_page }}
        </ul>
    </nav>
    {#    </div>#}
{% endblock %}